*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background: #111;
}
input[type="radio"]
{
    position: relative;
    height: 40px;
    width: 120px;
    margin: 20px;
    background: #1e2325;
    border-radius: 20px;
    cursor: pointer;
    outline: none;
    -webkit-appearance: none;
    box-shadow: -5px -5px 20px rgba(255, 255, 255, .1),
                5px 5px 10px rgba(0, 0, 0, 1),
                inset -2px -2px 5px rgba(255, 255, 255, .1),
                inset 2px 2px 5px rgba(0, 0, 0, 1),
                0 0 0 2px #1f1f1f;
                transition: .2s;
}
input[type="radio"]:checked
{
    background: #0b8ec2;
    border-radius: 20px;
    transition: .5s;
}
input[type="radio"]::before{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 80px;
    height: 40px;
    background: linear-gradient(to top, rgba(0,0,0,1), #555);
    transform: scale(1);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
}
input[type="radio"]:checked::before{
    left: 40px;
    transition: .2s ease-in-out;
}
input[type="radio"]::after{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    left: 65px;
    top: calc(50% - 2px);
    background: rgb(112, 111, 111);
    border-radius: 50%;
}
input[type="radio"]:checked::after{
    left: calc(65px + 40px);
    transition: .2s ease-in-out;
    background: #0b8ec2;
    box-shadow: 0 0 5px #0b8ec2,
                0 0 10px #0b8ec2,
                0 0 15px #0b8ec2;
}